@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: lightgray;
}

img {
  object-fit: cover;
}

#header {
  font-family: 'Roboto';
  font-size: 150px;
  opacity: 60%;
}

#navBar {
  background-color: black;
}

#searchB {
  padding: 75px;
  display: flex;
  justify-content: center;
}

#searchBtn {
  margin-left: 390px;
  margin-top: -38px;
 
}

/* Display NONE until its called upon in JS
.container {
  display: none;
} 
