@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: black;
}

img {
  object-fit: cover;
}

#header {
  font-family: 'Roboto';
  font-size: 150px;
  opacity: 60%;
}

#navBar {
  background-color: black;
}

#searchB {
  padding: 75px;
  display: flex;
  justify-content: center;
}

#searchBtn {
  background-color: red;
 
  

 
}

#modalBtn {
  background-color: red;
  margin: 5px;
  padding: 10px;
  border: none;
}

#modalBtn:hover {
  width: 220px;
  height: 50px;
  color: #fff;
  background: red;
  cursor: pointer;
  border-radius: 10px;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: none; 
}

#movieTitle{
font-size: 25px;
font-weight: 400;
}


#cardPoster { 
  background-color: white;
<<<<<<< Updated upstream
=======
}

#nextBtn {
  position:static;
  bottom: 5%;
  right:20%;
  display: none;
}

.inline-block{
  background-color: red;
}

.inline-block:hover {
  width: 220px;
  height: 50px;
  color: #fff;
  background: red;
  cursor: pointer;
  border-radius: 10px;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: none; 
}


  
>>>>>>> Stashed changes
}